<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Family-Hub</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/Abhishek">Abhishek</a></li>
        <li><a href="/Arjun">Arjun</a></li>
        <li><a href="/Ashish">Ashish</a></li>
        <li><a href="/subham">Subham</a></li>
    </ul>
</nav>

<div class="container">